.preloader {
    background: #de1f2e none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.loadscreen, .loadscreen-in {
    background-image: url("../imgs/loading_logo.png");
    background-position: center center;
    background-repeat: no-repeat;
	background-size:100% auto;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -125px;
    position: absolute;
    top: 50%;
    width: 250px;
}